/*селекторы идентификатора*/
#header{
}
#list{
}

/*селекторы потомков*/
div>ol{
}

/*селекторы псевдоклассов*/
a:link{
}
a:hover{
}
a:visited{
}
textarea:focus{
}
button:hover{
}
input:valid{
}
input:invalid{
}

/*селекторы классов*/
.content{
}
.content__header{
}
.content__link{ 
}
.content__link__image{
}
.content__text{
}


.fill:invalid{
}
.fill__sname{
}
.fill_name{
}
.fill__patr{
}
.fill_tel{
}
.fill__image{
}
.fill__email{
}
.fill__password{
}
.fill__site{
}
.fill__sex{
}
.fill__date{
}
.fill__kitchen{
}
.fill__about{
}
.fill__button.fill__button--question{
}
.fill__button.fill__button--clean{
}